@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif; /* font-family: tajawal-regular -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --light: #b0a8b9;
  --red: #c34a36;
  --move: #845ec2;
  --dark: #4b4453;
  --orange: #ff8066;
  --navColor: #3b3939;
  --borderColor: #d9d9d9;
}

.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}

.ant-modal-title {
  text-align: center;
}
.ant-spin .ant-spin-spinning {
  display: flex;
  justify-content: center;
}
